<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BERT Question Answer model</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body 
    style = "   
            display: flex; 
            margin: 0;
            padding: 0;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            background: #3b3939;
            " >
<style>
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: #8d0000;
  color: #e9e9e9;
  border: 2px solid #223435;
    border-radius: 12px;
}

.button:hover {
  background-color: #eae6e6;
  color: #343232;
}

</style>
    <br>
    <h1 style="color:#ffffff">BERT-Large Questioning Answering Model</h1>
    <br>

    <form action="{{ url_for('bert')}}" method="POST">

        <input name="Question" type="text" class="form-control"  placeholder="Enter your Question here? ">
         <br/>
        <input name="Abstract Paragraph" type="text" class="form-control" placeholder="Enter it's Abstract here">

        <br/>

        <button type="submit" class="button">Submit</button>
		
    </form>

    {% if prediction %}
        <br>
          <h3 style="color:#24f5fd;">Question = {{ question }}</h3>
          <h3 style="color:#afef12;">Answer= {{ prediction}}</h3>

    <br>


        <br>
          <h3 style="color:#edf6f6;">Developed by Owais Khan</h3>
<h3 style="color:#e6ebee;">see my <a href=https://owaiskhan9654.github.io>Portfolio</a> also </h3>
{% endif %}
    <br>
   <h2 style="color:#ffffff">Some Examples</h2>
    <table class="table table-bordered" style="width: 90%; text-align: justify; text-align: center; vertical-align: middle">
        <thead>
            <tr style="color:#ffffff" >
                <th scope="col" style="width:35%">Question??</th>
                <th scope="col">Abstract</th>
            </tr>
        </thead>
        <tbody style="color:#ffffff">

            <tr>


                <th scope="row">What should you eat and drink when you have the flu?</th>
                <td>If you have the flu, you may be wondering if there's a special diet to help you feel better. After all,
                    you've heard the old saying, "Feed a cold, starve a fever."
                    But what do you eat when you have both a fever and cold-like symptoms that come with the flu?</td>
            </tr>
            <tr>
                <th scope="row">How many parameters does BERT-large have?</th>
                <td>BERT-large is really big... it has 24-layers and an embedding size of 1,024, for a total of 340M parameters!
                    Altogether it is 1.34GB, so expect it to take a couple minutes to download to your Colab instance.</tr>
          
        </tbody>
    </table>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>
